*{
    margin: 0;
    padding: 0;
    border:1px solid black;
}
body{

}
/*Parte del header de el proyecto--------------------------*/
header{
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/*Parte de informacion del proyecto------------------------*/
.information{
    background:blue;
    display: flex;
    flex-direction: row;
    height: 90vh;
    
}
/*PARTE IZQUIERDA DEL DOCUMENTO---------------------------*/
.information .one{
    background: lightgreen;
    width: 20vw;
    flex-direction: column;
    flex-direction: center;
    align-items: center;

    
}
.AllSelections{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AllSelections img{
    width: 30px;
    height: 30px;
}

.AllSelections ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
    

}
.AllSelections ul li{
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 25vh;
    padding: 10px;
}
.AllSelections ul li .text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.AllSelections ul li .text h2{
    padding: 5px;
}




/*PARTE CENTRAL DEL DOCUMENTO---------------------------*/
.information .two{
    background: lightcoral;
    width: 60vw;
    display: flex;
    
}


/*PARTE DERECHA DEL DOCUMENTO----------------------------------*/
.information .three{
    background: lightblue;
    width: 20vw
}
.Allsection3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.Allsection3 ul{
    padding: 10px;
}

.Allsection3 ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Allsection3 ul li .text{
    padding: 5px;
}


.barra-de-progreso {
    height: 10px;
    width: 20vh;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }
  
.progreso {
    height: 5vh;
    background-color: #4CAF50;
}




/*Parte de footer del proyecto---------------------------*/
/**footer{
    background: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 10vw;
}
.systems{

}